/*Universal setting*/
* {
  margin: 0;
}
body {
  font:22px Helvetica,sans-serif;
  color: seashell;
  background-color: black;
  opacity:0.9;
  text-align: center;
}
.border {
  border:1px solid white;
}
.contents {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contents h2, .contents h4{
  padding: 15px 0;
}
/*Heading*/
header {
  height:69px;
  width:100%;
  border-bottom:1px solid seashell;
  position:fixed;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color:black;
  z-index: 1;
}
.logo img {
  height:50px;
  margin-left:10px;
}
.links a{
  text-decoration: underline;
  color:seashell;
  margin:20px 10px;
}

.main {
  top:69px;
  width: 1200px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
/*Mission*/
 .mission {
   background-image: url(../images/img-mission-background.jpg);
   width:1200px;
   height: 700px;
   display:flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
 }

/*Featured Tea*/
.featured {

  width: 1000px;
}
.images {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}
.group {
  margin:10px;
}
.images img {
  display:flex;
  height:200px;
  width:300px;
  margin-bottom: 10px;
}
/*Location*/
div.title {

}
.locations {
  background-image: url(../images/img-locations-background.jpg);
  height: 500px;
  display:flex;
  justify-content: center;
}
.address {
  opacity: 1;
  height:300px;
  width:300px;
  margin: 15px 40px;
  background-color:black;
}
